<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>slider_bestsellers</name>
    <displayName><![CDATA[Slider Best Seller]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Displays top-selling products in the central column of your homepage.]]></description>
    <author><![CDATA[Daniel Domzalski]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>